# Ignore all files without an extension (binaries).
*
!*.*
!*/

# Exclude extensionless Makefiles from the ignore list.
!Makefile

# Specify files with extensions which should also be ignored.
*.o
*.a
*.out
*.pdf
*.png
*.jpg
*.pdf
*.txt
*.pyc
*.vscode

# Special cases.
!*/CMakeLists.txt
*/__pycache__
*/CMakeFiles
*/CMakeCache.txt
*.cmake
*/build